<suite name="Campus Regression Suite">

    <test name="Project 15 Tests">
        <groups>
            <run>
                <include name="project15"/>
            </run>
        </groups>
        <classes>
            <class name="tests.Hook"/>
            <class name="tests.Project15Tests"/>
        </classes>
    </test>

</suite>